/*
!git
!config

# general
!.shrc
!.gitconfig

# nvim
!nvim
nvim/*
!nvim/init.lua
!nvim/lazy-lock.json
!nvim/lua

# i3/sway
!i3
i3/*
!i3/config
!sway
sway/*
!sway/config

# wezterm
!wezterm
wezterm/*
!wezterm/wezterm.lua
