*{
    font-family: Fira Code;
    font-size: 13px;
    /* font-weight: bold; */
    min-height: 0;
    color: #c6d0f5;
    background-color: transparent;
}

.modules-left {
  background-color: #303446;
  margin: 2px 2px 2px 2px;
  border-radius: 15px;
}

.modules-right {
  background-color: #303446;
  margin: 2px 2px 2px 2px;
  border-radius: 15px;
}

#workspaces{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    border-radius: 15px;
    margin-right: 10px;
    padding: 1px 10px;
    background: #303446;
    color: #c6d0f5;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 22px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background: #303446;
    color: #c6d0f5;
}

#tray,
#cpu,
#temperature,
#memory,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#battery,
#clock,
#network {
	padding: 0 10px;
}
